<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Fuel Prices</title>
</head>
<body>
    <h1>Fuel Prices in {{suburb}}</h1>
    <table>
        <tr>
            <th>Address</th>
            <th>Brand</th>
            <th>Location</th>
            <th>Trading Name</th>
            <th>Price</th>
        </tr>
        {% for station in stations %}
            <tr class="{{station.day}}">
                <td>{{station.address}}</th>
                <td>{{station.brand}}</th>
                <td>{{station.location}}</th>
                <td>{{station.tradingname}}</th>
                <td>{{station.price}}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>