<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" type='text/javascript'></script>
    <script defer src="{{ url_for('static', filename='js/main.js')}}" type="text/javascript"></script>
    <title>Fuel Prices</title>
</head>
<body>
    <div class="suburbs">
        <h2>Select a suburb:</h2>
        <select id="suburbs_select">
            {% for s in suburbs %}
                <option value="/{{s}}" {% if s == suburb %}selected{% endif %}>
                    {{s}}
                </option>
            {% endfor %}
        </select>
    </div>
    <h1>Fuel Prices in {{suburb}}</h1>
    <table>
        <tr>
            <th>Address</th>
            <th>Brand</th>
            <th>Location</th>
            <th>Trading Name</th>
            <th>Price</th>
        </tr>
        {% for station in stations %}
            <tr class="{{station.day}}">
                <td>{{station.address}}</th>
                <td>{{station.brand}}</th>
                <td>{{station.location}}</th>
                <td>{{station.tradingname}}</th>
                <td>{{station.price}}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>